.title-projects {
    background-image: url(../../imgs/Banner_Shadorian.jpg);
}

#ytb-vids {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

@media screen and (max-width: 768px) {
    #ytb-vids iframe {
        width: 100%;
        height: 315px;
    }
}