#body {
    color: var(--text-color);
    display: flex;
    flex-direction: row;
}

#body a {
    text-decoration: underline !important;
}

#categories {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* height: 82.5vh; */
    margin: 1%;
    padding-right: 1%;
    border-right: 3px solid var(--text-color);
}

#categories a {
    font-size: larger;
    background-color: var(--color3);
    padding: 20px;
    border-radius: 15px;
    margin: 5% 0;
}

#categories a.active {
    font-weight: 800;
    letter-spacing: 2px;
}